.example-spacer {
    flex: 1 1 auto;
}
    button:hover {
      background-color: aqua; 
    }
    
  

  .color{
    /* background-color:  rgb(172, 104, 115); */
    background-color: aliceblue;
    height:80px;
    width: 100%;
  }

  .head{
   
      font-family: italic;
      padding-left: 3px;
      color: red;
      font-weight: bolder;
  
  }
  

 